.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  margin-bottom: 20px;
  padding:0px 20px;
  
}
.option{
    display: flex;
    gap: 30px;
}
.searchbar{
    display: flex;
    align-items: center;
    width: 40%;
    gap:10px;
    border: 2px solid rgba(0, 0, 0, 0.192);
padding-left: 10px;
border-radius: 10px;
}
p{
    font-size: 30px;
}
.searchbar input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
}

@media (max-width: 360px) {
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
    padding: 0px 10px;
}
h1{
    font-size: 14px;
}
.option{
    display: flex;
    gap: 10px;
}
.searchbar{
    display: flex;
    align-items: center;
    width: 10%;
}
.searchbar input{
    width: 80%;
    height: 20px;
}
}
@media (max-width: 557px) {
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 0px 10px;
}
h1{
    font-size: 20px;
}
.option{
    display: flex;
    gap: 15px;
}
.searchbar{
    display: flex;
    align-items: center;
    width: 20%;
}
.searchbar input{
    width: 80%;
    height: 20px;
}
}
@media (max-width: 557px) {
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 0px 10px;
}
h1{
    font-size: 20px;
}
.option{
    display: flex;
    gap: 15px;
}
.searchbar{
    display: flex;
    align-items: center;
    width: 20%;
}
.searchbar input{
    width: 80%;
    height: 20px;
}
}
